body {
  .mainCardsContainer {
    margin-top: 9rem;
    display: flex;
    flex-direction: column;
    text-transform: capitalize;
  }

  .pokemonTypes {
    display: flex;
    margin-top: 3rem;
    width: 90%;
    align-self: center;
    justify-content: space-between;
    overflow-x: scroll;
  }

  .pokemonTypes::-webkit-scrollbar {
    height: 6px;
  }

  .pokemonTypes::-webkit-scrollbar-thumb {
    background-color: black;
    border-radius: 4px;
  }

  .individuealType {
    cursor: pointer;
    font-size: 28px;
    font-weight: lighter;
    margin: 0 8rem;
    margin-bottom: 1rem;
  }

  .individuealType:hover {
    text-decoration: underline;
  }

  .cardsContainer {
    display: grid;
    gap: 4.5rem;
    grid-auto-rows: 23rem;
    grid-template-columns: repeat(auto-fill, minmax(18rem, 1fr));
    padding: 5rem 2rem;
    justify-items: center;
  }

  .pokemonCards {
    font-size: 48px;
    color: #486284;
    text-align: center;
  }

  .pokemonGo {
    margin-top: 2rem;
    font-size: 18px;
    color: #1a202c;
    text-align: center;
  }

  .showMoreButton {
    width: 156px;
    height: 44px;
    border: none;
    border-radius: 6px;
    background-color: #306bb3;
    color: white;
    cursor: pointer;
  }

  .showMoreButton:hover{
    background-color:#5c8ecb;
  }

  .buttonContainer {
    display: flex;
    align-items: center;
    width: 50%;
    justify-content: space-between;
    align-self: flex-end;
    margin-right: 5rem;
    margin-bottom: 3rem;
  }

  @media (max-width: 975px) {
    .buttonContainer {
      flex-direction: column;
      align-self: center;
      margin-right: 0;
    }
    .amountPokes {
      margin-top: 2rem;
    }
  }
}

body.dark-mode {
  .pokemonGoDark {
    color: white;
  }
  .pokemonTypes::-webkit-scrollbar-thumb {
    background-color: white;
  }
  .amountPokes{
    color: white;
  }
}
